<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{ handler.page_title }}</title>
   
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="author" content="">
	<script type="text/javascript" src="{{ static_url("js/underscore-min.js") }}"></script>
    <!-- Le styles -->
   <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
   <link href="{{ static_url("css/bootstrap-theme.min.css") }}" rel="stylesheet">
   <link href="{{ static_url("css/jquery-ui.min.css") }}" rel="stylesheet">
	    <style type="text/css">
		
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
.curuser {
  color: #f0ad4e;
}
      {% block css %}{% end %}
    </style>
    
   {% block links %}{% end %}

    {% block js %}{% end %}

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url("ico/apple-touch-icon-144-precomposed.png") }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url("ico/apple-touch-icon-114-precomposed.png") }}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url("ico/apple-touch-icon-72-precomposed.png") }}">
                    <link rel="apple-touch-icon-precomposed" href="{{ static_url("ico/apple-touch-icon-57-precomposed.png") }}">
                                   <link rel="shortcut icon" href="{{ static_url("ico/favicon.png") }}">
  </head>
  <body role="document">
     <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">	
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Music near by</a>
        </div>	
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

				{% if current_user %}
                <li><a href="/venues">Venues</a></li>
					<li class="curuser">{{ current_user }} </li> 	
					<li><a href="/logout">Logout</a></li>
				{% else %}
					<li><a href="/login">Login</a></li>
				{% end %}
		    </ul>
		</div>	
	  </div>	
	</nav>
  
    <div class="container">
      <!-- alert box -->
        {% block alertbox %}{% end %}
      <!-- Main hero unit for a primary marketing message or call to action -->
        {% block hero %}{% end %}

      <!-- Example row of columns -->
      <div class="row">
        {% block content %}{% end %}
      </div>

      <hr>
	
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static_url("js/jquery-1.11.3.min.js") }}"></script>
    <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("js/jquery-ui.min.js") }}"></script>
    <script src="{{ static_url("js/jquery.chained.remote.min.js") }}"></script>
    {% block include_js %}{%end%}

  </body>
</html>
