{% extends "base.html" %}
{% block css %}
{% end %}
{% block hero %}
<h1>{{ hdr }}</h1>
{% end %}

{% block content %}
<div class="container">
	<div class="row">
	{% if data %}
	{% autoescape None %}
      {{  data }}
	{%end%}
	</div>
</div>
{% end %}