{% extends "base.html" %}
{% block css %}
#url{
		width:400px;
}
li{
	height:20px;
{
.cityenter {
  top: 0;
  left: 0;
  padding: 4px;
  margin-bottom: 9px;
  width: 300px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

}

{% end %}
{% block hero %}
<h1>{{ hdr1 }}</h1>
{% module xsrf_form_html() %}
{% end %}

 {% block links %}

{% end %}
{% block include_js %}
<script>
function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    }
}
function showPosition(position) {
     $("#lon2").val(position.coords.longitude);
     $("#lat2").val(position.coords.latitude);
}
function geo_success(position) {
     $("#lon2").val(position.coords.longitude);
     $("#lat2").val(position.coords.latitude);
}

function geo_error() {
  $("#lon2").val("");
     $("#lat2").val("");
}

var geo_options = {
  enableHighAccuracy: true,
  maximumAge        : 30000,
  timeout           : 27000
};

var wpid = navigator.geolocation.watchPosition(geo_success, geo_error, geo_options);

$("#city").autocomplete({
	  source: function( request, response ) {
				$.ajax({
					url: "/city",
					type: "POST",
					dataType: "json",
					data: {"_xsrf": getCookie("_xsrf"),"term":request.term},
					success: function( data ) {response(data);}
                     });},
		minLength: 2,
		select: function( event, ui ) {
			event.preventDefault();
			$("#city").val(ui.item.label);
			$("#city_id").val(ui.item.value);
			$("#lon").val(ui.item.lon);
			$("#lat").val(ui.item.lat);
			var p = 1;

			loadEvents();
		}
});

$(function(){
//  getLocation();
  startDate=new Date();
 $("#search").click(function(){
    var p = 1;
    	loadEvents();
     });

	var language = window.navigator.userLanguage || window.navigator.language;
   if ($.datepicker.regional[language] != undefined) $.datepicker.setDefaults($.datepicker.regional[language]);
   else if ($.datepicker.regional[language.substring(0, 2)] != undefined) $.datepicker.setDefaults($.datepicker.regional[language.substring(0, 2).toLowerCase()]);
   else $.datepicker.setDefaults($.datepicker.regional['']);
   $('#dp1').datepicker({clickInput: true});

   setInterval(function() {  loadEvents()  }, 5000);

});
function entbox(){
if ($('#entloc').prop('checked')) { $('#city').prop('disabled', false);
        $('#entloc').val("on");}
else { $('#city').prop('disabled', true);
$('#entloc').val("");
}
}
function loadEvents(){
     entbox();
    var d = new Date();
    $.ajax({
	        url: "/index",
			type: "POST",
			dataType: "json",
			data: {
			_xsrf: getCookie("_xsrf"),
			city_id: $("#city_id").val(),
			city: $("#city").val(),
			sd: $( "#dp1" ).datepicker( "getDate" ).toDateString(),
			  lon: $( "#lon" ).val(),
			  lat: $( "#lat" ).val(),
			  lon2: $( "#lon2" ).val(),
			  lat2: $( "#lat2" ).val(),
			  entloc: $( "#entloc" ).val(),
			  tz: d.getTimezoneOffset()
			},
			success: function( data ){
					$(".jscroll-inner").html(data.events);
					if(data.addr != '')  $("#city").val(data.addr);

			}});
}
</script>
{%end%}

{% block content %}
  <div>

    <form action="/index" method="get" id="form">
      <div>
            <input type="checkbox" id="entloc" name="entloc" onclick="entbox()" value="{{val_etnloc}}" {{checked}} />
            <label for="entloc">Edit location</label>
      </div>
		<div class="form-group">
			<div class="col-sm-10">
        <input id="city" name="city" class="form-control" placeholder="street,city,country" value="{{city}}" {{disabled}}>
			</div>
			<button type="submit" class="btn btn-success col-sm-2" name="s" >Search</button>
		</div>
		<div class="form-group">
		<input type="text" class="col-sm-offset-8 col-sm-2" readonly="" value="{{ sd }}" id="dp1" name="dp1">
		</div>

		<input type="hidden" id="lon" name="lon" value="{{ lon }}" />
	    <input type="hidden" id="lat" name="lat" value="{{ lat }}" />
		 <input type="hidden" id="city_id" name="city_id" value="{{ city_id }}" />
	    <input type="hidden" id="lon2" name="lon2"  />
	    <input type="hidden" id="lat2" name="lat2"  />

	</form>

  </div><br><br><br><br>
<div class="jscroll-inner">
	{% if getdata %}
	{% autoescape None %}
      {{  getdata }}
	{%end%}
</div>


{% end %}