{% extends "base.html" %}
{% block hero %}
{% end %}
{% block content %}

<form class="form-horizontal" method="post">
   {% module xsrf_form_html() %}
<fieldset>
<!-- Form Name -->
		<h3>Login</h3>
<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="usr">Name</label>
  <div class="controls">
    <input id="usr" name="usr"  class="input-xlarge" type="text" placeholder="Имя">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="password">Password</label>
  <div class="controls">
    <input id="password" name="password"  class="input-xlarge" type="password" >
  </div>
</div>

{% if error %}
<div class="alert alert-error">Wrong password. Repeate.</div>
{% end %}
<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-large">Enter</button>
  </div>
</div>
</fieldset>
</form>

{% end %}